body {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}

.links a {
    margin: 0px 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 100;
}

a:link {
    color: black;
}

a:visited {
    color: rgb(89, 8, 165);
}

a:hover {
    color: blue;
}