body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

/*HEADER*/
.intro {
    background-color: #1F2937;
    padding: 30px 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    margin-bottom: 50px;
}

.links a {
    color: #E5E7EB;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: rgb(129, 80, 243);
}

a:hover {
    color: rgb(18, 86, 211);
}

/*SECTION ONE*/
.section-one {
    display: flex;
    justify-content: space-between;
}

.section-one .summary {
    color: aliceblue;
    flex-basis: 575px;
    font-size: larger;
}

.summary h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.summary p {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up-1 {
    width: 150px;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 5px 25px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}

.winter-view {
    height: 350px;
    width: 550px;
    border-radius: 5%;
}

/*SECTION TWO*/
.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.section-two .title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.elements {
    display: flex;
    justify-content: space-between;
}

.elements .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.elements img {
    height: 200px;
    width: 200px;
    margin: 20px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.elements .text {
    width: 250px;
    text-align: center;
}

/*SECTION THREE*/
.section-three {
    background-color: #E5E7EB;
    padding: 75px;
    text-align: center;
}

.section-three .quote {
    display: inline-block;
    text-align: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    width: 1000px;
}

.section-three .author {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

/*SECTION FOUR*/
.section-four {
    color: #F9FAF8;
    padding: 60px;
}

.section-four .action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 30px 10px;
    border-radius: 5px;
}

.section-four h2 {
    margin: 0px;
}

.section-four .sign-up-2 {
    width: 145px;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 5px 25px;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
}

/*FOOTER*/
.footer {
    display: flex;
    justify-content: center;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 25px 150px;
}